<div class="input-group mb-1 mt-5 w-50 mx-auto">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-default">Title</span>
  </div>
  {{input value=title type="text" class="form-control" aria-describedby="title" placeholder="Enter your title"}}
</div>

<div class="input-group mt-5 w-50 mx-auto">
  <div class="input-group-prepend">
    <span class="input-group-text">Description</span>
  </div>
  <textarea name='description' class="form-control" rows='10' aria-label="Description">
    {{description}}
  </textarea>
</div>

<div class="input-group mb-1 mt-5 w-50 mx-auto">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-default">Tags</span>
  </div>
  <textarea 
    name='tags' 
    class="form-control" 
    aria-label="Tags" 
    aria-describedby="inputGroup-sizing-default"
  >
    {{#each tags as |tag|}}
      {{tag.name}},
    {{/each}}
  </textarea>
</div>