<div class="d-flex h-100 flex-column pt-5">
  <div class="m-auto w-75 pt-5">
    <h1 class = 'h2'>Expert Advice</h1>
    <p>Get answers to difficult questions</p>
    <div class='d-flex justify-content-between mb-5'>
      <input type='text' class='form-control w-50' placeholder="search" />
      {{#link-to "ask" class='btn btn-primary'}}Ask a question{{/link-to}}
    </div>    
    <h2 class='h4'>Questions</h2>
    {{#each model as |question|}}
      {{question-list question=question url="question"}}
    {{/each}}
  </div>
</div>