<div class="d-flex h-100 flex-column pt-5">
  <div class="m-auto w-75 pt-5">
    <h1 class = 'h2'>Expert Advice</h1>
    <p>Get answers to difficult questions</p>
    <div class='d-flex justify-content-between mb-5'>
      <input type='text' class='form-control w-50' placeholder="search" />
      {{#link-to "ask" class='btn btn-primary'}}Ask a question{{/link-to}}
    </div>    
    <h2 class='h4'>Questions</h2>
    {{#each model as |question|}}
      <div class='mb-3'>
        {{#link-to 'question-slug-from-title' question}}{{question.title}}{{/link-to}}
        <div>
          {{#if question.tags}}
            {{#each question.tags as |tag|}}
              <span class='btn btn-primary'>{{tag.name}}</span>
            {{/each}}
          {{/if}}
        </div>        
      </div>
    {{/each}}
  </div>
</div>